@font-face {
    font-family: 'Bahnschrift';
    src: url(Fonts/Bahnschrift/bahnschrift.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Gauge - Regular';
    src: url(Fonts/Gauge/Gauge-Regular.otf);
    font-display: swap;
}
@font-face {
    font-family: 'Gauge - Heavy';
    src: url(Fonts/Gauge/Gauge-Heavy.otf);
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Mono - Regular';
    src: url(Fonts/Roboto\ Mono/RobotoMono-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Mono - 500';
    src: url(Fonts/Roboto\ Mono/RobotoMono-Medium.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Mono - 600';
    src: url(Fonts/Roboto\ Mono/RobotoMono-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat - 400';
    src: url(Fonts/Montserrat/static/Montserrat-Regular.ttf);
    font-display: swap;
}

*{
    --ff-primary:'Gauge - Regular', sans-serif;
    --ff-secondary: sans-serif;
    --ff-accent:'Roboto Mono - Regular', sans-serif;
    --ff-accent-500:'Roboto Mono - 500', sans-serif;
    --ff-accent-600:'Roboto Mono - 600', sans-serif;
    --ff-accent2:'Montserrat - 400', sans-serif;


    --primary:#AF936E;
    --secondary:#C6B08E;
    --black:#010101;
    --white:#f3f3f3;
    --less-dark: #393939;
    --mission-statement:#e6e6e6     ;

    --nav-height:10vh;
    --nav-height-mini:2.5rem;
    --nav-menu-height:8rem;

    --border-size:4px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    scroll-behavior:smooth;
}

nav{
    width: 100%;
    height: var(--nav-height-mini);
    position: fixed;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
    padding: .25rem 1rem;
    box-sizing: border-box;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style:none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;

}

main{
    z-index: 3;
    position: relative;
}

section{
    background-color: var(--white);
}

h2, h3, h4{
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1.2rem;
}

h2{
    background: linear-gradient(0deg, rgba(175,147,110,1) 00%, rgba(198,176,142,1) 100%);
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 1.6rem;
}

h3{
    font-weight: 400;
    font-family: var(--ff-accent);
    text-align: center;
    margin: 3rem auto;
    color: rgb(46, 46, 46);
    width: min(90%, 32rem);
}

h4{
    font-size: 1.4rem;
}

p{
    font-family: var(--ff-secondary);
    line-height: 2rem;
}

.button-2{
    border: var(--black) solid var(--border-size);
    background-color: var(--secondary);
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    padding: .5rem 1rem;
    margin-top: 1.5rem;
    transition:500ms ease-in;
    z-index: 1;
    box-sizing: border-box;
    position: relative;
}

.button-2::before{
    content:'';
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    z-index: -1;
    background-color:var(--primary);

    transition:transform 500ms ease-in-out;
    transform:scaleX(0);
    transform-origin: left;
}

.button-2:hover::before, .button-2:focus::before{
    transform:scaleX(1);
}

button:hover{
    cursor: pointer;
}

button a{
    color: var(--black);
}

footer{
    position: relative;
    background-color: var(--black);
    color: var(--white);
    font-size: .8rem;
    z-index: 3;
    position: relative;
    font-family: var(--ff-accent2);
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
}

footer img{
    width: 0rem;
}

/*
    Specific Classes
*/

.deep-background{
    background-image: url(images/BackgroundTX/field-compressed-1920.webp);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
}

.bg-filter{
    background-color: black;
    opacity: 20%;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
}

.buffer{
    height: var(--nav-height-mini);
}

.menu-icon:hover{
    cursor: pointer;
}

.nav-menu{
    background-color: #272727;
    color: var(--white);
    width: 100%;
    height: var(--nav-menu-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 4;
    transition: .2s ease-in-out;
    transform: translate3d(0px, -8rem, 0px);
}

.nav-menu span{
    padding: .5rem 0;
    width: 8rem;
    font-family: var(--ff-accent);
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.nav-menu span:first-child{
    margin-top: .5rem;
}

.nav-menu span:last-child{
    margin-bottom: .5rem;
}

.nav-menu span:hover{
    background-color: #181818;
}

.nav-menu a{
    color: var(--white);
}

.nav-large{
    width: 100%;
    height: 5rem;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--ff-accent);
    font-size: 1.4rem;
    padding: 0 1.5rem;
    transition: .4s ease-in-out;
    display: none;
}

.nav-large li{
    position: relative;
}

.activated{
    background-color: var(--black);
    padding: 0 1rem;
}

.filled{
    background-color: var(--secondary);
}

.border-underline::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--white);
    transition: transform .3s ease-in-out;

    transform: scaleX(0);
    transform-origin: left;
}

.border-underline:hover::before,
.border-underline:focus::before{
    transform: scaleX(1);
}

.activated .border-underline::before{
    background-color: var(--primary);
}

.nav-large img{
    width: 4rem;
    transition: .4s ease-in-out;
}

.nav-large img:hover{
    cursor:pointer;
}

.nav-large ul{
    width: 34rem;
    display: flex;
    justify-content: space-around;
}

.nav-large a{
    color: var(--white);
}

.title{
    background: none;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title-background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

.title-filter{
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0%;
}

.title img{
    margin: -2rem 0;
    width: min(100%, 800px);
}

.quote{
    color:var(--white);
    text-align: center;
    font-size: .9rem;
    margin-bottom: 3rem;
    max-width: 90%;
}

.service-banner{
    width: 100%;
    min-height: 2rem;
    padding: 2rem 1rem 1rem 1rem;
    box-sizing: border-box;
    font-family: var(--ff-accent-500);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color: var(--mission-statement);
}

.service-banner span{
    padding: .25rem 0;
}

.circle{
    max-width: 0rem;
    position: relative;
    top: .2rem;
    align-self:center;
}

.subtext{
    font-size: .8rem;
    text-align: center;
    font-weight: 600;
    padding: .5rem;
    background-color: var(--mission-statement);
}

.mission-statement{
    background-color: var(--mission-statement);
    padding: 2rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-statement h4{
    text-align: center;
    margin: 0 0 1rem 0;
    letter-spacing: 0.01rem;
    font-weight: 600;
}

.mission-statement p{
    color:rgb(43, 42, 42);
    font-size: 1.1rem;
    text-indent: 4rem;
}

.mission-statement a{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: var(--black);
}

.mission-statement .margin-bottom-1{
    margin-bottom: 1rem;
}

.mission-statement .margin-bottom-2{
    margin-bottom: 2rem;
}

.services{
    display: flex;
    justify-content: center;
}

.services h4{
    padding: 1rem 0;
    letter-spacing: .02rem;
    font-weight: 600;
}

.services p{
    color: rgb(54, 54, 54);
}


.services img{
    width: min(100%, 300px);
}


.info-panel{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-panel:first-child{
    margin-top: 3rem;
}

.info-panel:last-child{
    margin-bottom: 3rem;
}



.about{
    background:none;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about-background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

.about-filter{
    background-color: #000;
    opacity: 0%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.about h4, .about p{
    padding: 0;
}

.about h4{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.about img{
    margin-top: 1rem;
    width: min(100%, 300px);
}

.about-container{
    margin: 2rem 0;
    padding: 1rem 0;
    border-top: var(--white) solid 2px;
    border-bottom: var(--white) solid 2px;
    max-width: 58rem;
    display: flex;
    flex-direction: column;
}

.contact{
    position: relative;
    padding: 2rem 0;
    font-family: var(--ff-accent2);
    display: flex;
    justify-content: center;
}

.contact h4{
    width: min(100%, 50rem);
    text-align: left;
    padding-bottom: .5rem;
    font-weight: 500;
    font-family: var(--ff-accent2);
}

.contact p{
    font-family: var(--ff-secondary);
}

.contact .set-2{
    display: none;
    position: absolute;
    top: 8rem;
    font-size: .5rem;
}

.row-one, .row-two, .row-three{
    position: relative;
}

.row-one{
    left: 0rem;
}

.row-two{
    left: 0rem;
    top: .7rem;
}

.row-three{
    left: 0rem;
    top: 1.4rem;
}

/*
    Recent Work Classes
*/

.recent-work{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-work .container{
    width: 100%;
}

.recent-work h4{
    margin: 1.5rem 0;
    letter-spacing: 0.01rem;
    font-weight: 600;
    text-align: center;
    font-size: 1.7rem;
}

.rw-bf{
    /*width: min(90%, 100vw);*/
    width: 90%;
    margin:0 auto;
}

.rw-headers{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    color: var(--less-dark);
}

.rw-slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.rw-images{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    border-top: #cecece solid 2px;
    border-bottom: #cecece solid 2px;
    margin-bottom: 1rem;
}

.rw-images img{
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
}

.rw-chevron{
    width: 5rem;
}

.rw-chevron:hover{
    cursor: pointer;
}

.reviews{
    font-family: var(--ff-accent2);
    width: 60%;
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--less-dark);
}

.reviews li{
    margin: .5rem 0;
}

/*
    Footer Classes
*/

.footer-set-two{
    display: none;
}

/*
    General Classes
*/

.centered{
    margin: 0 auto;
}

.hidden{
    display: none;
}

.border-accent{
    border-top: var(--secondary) solid 2vh;
    border-bottom: var(--secondary) solid 2vh;
}

.border-accent-top{
    border-top: var(--secondary) solid 2vh;
}

/*
.border-accent-bottom{
    border-bottom: var(--primary) solid 0.5vh;
}
*/

.border-white-top{
    border-top: var(--white) solid 1px ;
    padding-top: 0.4rem;
    margin-top: 0.4rem;
}

.emphasis{
    font-size: 1rem;
}

.light-gray{
    color: #7a7a7a;
}

.nav-tag{
    position: relative;
    bottom: var(--nav-height-mini);
}

.dark-gray{
    color: rgb(54, 54, 54);
}

.container{
    width: min(90%, 50rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-services{
    max-width: 45rem;
}

.container-banner{
    width: min(100%, 65rem);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.email{
    font-size: .8rem;
}

@media (min-width:320px){
    .email{
        font-size: 1rem;
    }
}

@media (min-width:50rem){

    .container-banner{
        flex-direction: row;
        justify-content: space-around;
    }

    .service-banner span{
        padding-inline: 1rem;
    }

    .circle{
        max-width: .6rem;
    }

    .services h4{
        padding: 0.5rem 0;
    }
    
    .info-panel{
        flex-direction: row;
        align-items: flex-start;
    }
    
    .info-panel h4{
        padding-top:0;
    }

    .services img{
        width: 300px;
    }

    .text-content{
        margin-left: 2rem;
    }

    .about-container{
        flex-direction: row;
        padding-inline: 3rem;
        margin: 5rem 0;
        max-width: 55rem;
    }

    .about img{
        width: 300px;
        margin: 0 0 0 1rem;
    }
    
    h3{
        font-size: 1.8rem;
        margin: 5rem auto;
    }

    .about h4,
    .mission-statement h4{
        font-size: 2rem;
        font-weight: 700;
    }

    .contact{
        height: 22rem;
    }

    .contact h4{
        font-size: 2.2rem;
        margin-top: 2rem;
    }

    .quote{
        font-size: 1.4rem;
        margin-top: -4rem;
        margin-bottom: 7rem;
    }

    .emphasis{
        font-size: 1.1rem;
    }

    .set-1{
        display: none;
    }

    .contact .set-2{
        display: contents;
        font-size: 1.4rem;
    }

    .email{
        font-size: 1.4rem;
    }

    .contact .set-2 p{
        margin: 0;
    }

    .row-two{
        left: 2rem;
    }

    .row-three{
        left: 1rem;
    }

    /*  Nav  */
    .buffer{
        height: 0;
    }

    .nav-little{
        display: none;
    }

    .nav-large{
        display: flex;
    }
    
    .nav-large img{
        content: url('images/Alternate_BHBoar/BHBoar_Invoice_Ts_WhTrim-100.webp');
    }

    .nav-menu{
        display: none;
    }
    
    /*  Footer  */

    footer{
        height: 16vh;
        justify-content: flex-end;
    }

    footer img{
        width: 4rem;
        margin-left: 1rem;
    }

    .footer-set-one{
        display: none;
    }

    .footer-set-two{
        display: contents;
        display: flex;
        align-items: center;
    }
}

@media (min-width:60rem){

    .about img{
        margin: 0 0 0 3rem;
    }

    .activated{
        padding: 0 4rem;
    }

    .container-banner{
        font-size: 1.6rem;
    }
}

@media (min-height: 900px) {
    
    footer img{
        width: 6rem;
    }
}
